In [2]:
import numpy as np
import pandas as pd

pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline

import warnings

import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings('ignore')

In [3]:
DATA_URL = "https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/"
df = pd.read_csv(DATA_URL + 'adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

1. How many men and women (sex feature) are represented in this dataset?

In [4]:
df['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

2. What is the average age (age feature) of women?

In [7]:
df[df['sex'] == 'Female'].age.mean()

36.85823043357163

3. What is the percentage of German citizens (native-country feature)?

In [15]:
(df[df['native-country'] == 'Germany'].shape[0] / df.shape[0]) * 100

0.42074874850281013

4. What are the mean and standard deviation of the age for those who earn more than 50K per year (salary feature)?

In [19]:
round(df[df['salary'] == '>50K'].age.agg([np.mean, np.std]), 1)

mean    44.2
std     10.5
Name: age, dtype: float64

 5. What are the mean and standard deviation of the age for those who earn less than 50K per year?

In [23]:
round(df[df['salary'] == '<=50K'].age.agg([np.mean, np.std]))

mean    37.0
std     14.0
Name: age, dtype: float64

6. Is it true that people who earn more than 50K have at least a high school education? (education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate)

In [28]:
high_education = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters or Doctorate']
df[df['salary'] == '>50K'].education.isin(high_education).all()

False

7. Find the maximum age of men of the Amer-Indian-Eskimo race.

In [29]:
df[(df['sex'] == 'Male') & (df['race'] == 'Amer-Indian-Eskimo')].age.max()

82

8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (the marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [36]:
pd.crosstab(df['marital-status'].str.startswith('Married'), df['salary'])

salary          <=50K  >50K
marital-status
False           16039  1105
True             8681  6736

9. What is the maximum number of hours a person works per week (the hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [47]:
max_load = df['hours-per-week'].max()
print('Maximum number of hours a person works per week - {0}.'.format(max_load))

workaholics_count = df[df['hours-per-week'] == max_load].shape[0]
print('Number of people who work such a number of hours - {0}.'.format(workaholics_count))

rich_workaholics_perc = round((df[(df['hours-per-week'] == max_load) &
                            (df['salary'] == '>50K')].shape[0] / workaholics_count) * 100)
print('Percentage  of those who earn a lot (>50K) among them {0}.'.format(rich_workaholics_perc))

Maximum number of hours a person works per week - 99.
Number of people who work such a number of hours - 85.
Percentage  of those who earn a lot (>50K) among them 29.

10. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [52]:
avg_worktime_per_country = df.groupby(['native-country', 'salary'])['hours-per-week'].mean()
avg_worktime_per_country['Japan']

salary
<=50K    41.000000
>50K     47.958333
Name: hours-per-week, dtype: float64